/* @media (max-width: 320px) {
  
} */

*{
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  background-color: #ffe4c4;
}

.bayan{
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
}

.icon{
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transition: .2s ease;
  cursor: pointer;
  opacity: 0;
}

label{
  display: block;
  height: 50px;
  font-size: 24px;
  padding: 0 10px;
  cursor: pointer;
}

input{
  display: none;
}

article{
  height: 0;
  overflow: hidden;
  transition: .2s ease;
  cursor: pointer;
}

label:hover{
  color:blue;
}

label:hover ~ .icon,
article:hover .icon{
  opacity: 1;
  transition: .2s ease;
}

input:checked + label,
input:checked + label:hover{
  background: #c6e1ec;
  color: #3d7489;
}

input:checked~article,
input:hover~article,
article:hover{
  height: 350px;
  transition: .2s ease;
}

input:checked~.icon,
input:hover~.icon{
  opacity: 1;
  transform: rotate(0deg);
  transition: .2s ease;
}